#root {
  margin: 0 auto;
  text-align: center;
}
.content {
  background-color: #c5ebac;
}
h1, h2, h3, h4 {
  font-weight: 790 !important;
}
.mb-2 {
  width: auto;
  gap: 30px;
}
.mb-4 {
  gap: 40px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

/* Contenedor de las cards de empleados */
.empleados-container {
  display:contents;
  flex-wrap: wrap;          /* Permite que bajen a otra fila */
  justify-content: center;  /* Centra las filas */
  gap: 10px !important;                /* Espacio entre tarjetas */
}

/* Cada card individual */
.card {
  flex: 1 1 300px;          /* Mínimo 300px, pero se adapta al ancho disponible */
  max-width: 350px;         /* Evita que se estiren demasiado */
  background-color: #e9fcd6;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

/* Efecto hover opcional */
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.mb-4 {
    width: -webkit-fill-available;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: auto;
    }
}

/* Ajustes responsive */
@media (max-width: 1100px) {
  .card {
    flex: 1 1 45%; /* 2 por fila */
  }
}

@media (max-width: 700px) {
  .card {
    flex: 1 1 90%; /* 1 por fila */
  }
}
