body {
    background: #ffff;
}

.custom-navbar {
  background-color: #2c5f2d;
}

.home-container {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.content {
  padding-top: 80px;
}

.navbar-nav {
  width: 20vh;
}

.nav-link.active {
  color: #018512 !important;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffeb3b !important;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-spacer {
  width: 48px;
}
