body {
    background: #ffff;
}

.custom-navbar {
    background-color: #4a7c59;
}

.cards-container-brigadas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}